

.box{
    border: solid;
    vertical-align: top;
    background-color: rgb(199, 199, 199);
}

.main_content_box{
    height: 100hv;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main_content_box h1{
    font-size: 60px;
    font-family: DM_Serif;
    color: rgb(227, 227, 227);
}

.half_box{
    width: 48%;
    border: none;
    display: inline-block;
}

.box p{
    font-size: small;
}
.box h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
}
