

.box{
    border: solid;
    vertical-align: top;
    background-color: rgb(199, 199, 199);
}

.main_content_box{
    height: 100hv;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main_content_box h1{
    font-size: 60px;
    font-family: DM_Serif;
    color: rgb(227, 227, 227);
}

.left{float: left;}
.right{float: right;}

.half_box{
    
    box-sizing: border-box;
    display: inline-block;
    /* box-sizing:border-box; */
    
    
    
    margin: 10px;

    width: calc(50% - 20px);
    min-width: 400px;
    border-radius: 8px;
    padding: 12px;
    

    border: none;
    
    background-color: rgb(67, 67, 67);
    
}

.half_box h1{
    font-size: 60px;
    font-family: DM_Serif;
    color: rgb(227, 227, 227);
}

.box p{
    font-size: small;
}
.box h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
}
