.left-sidebar{
    float: left;
    background-color: #413F54;
    width: 150px;
    height: 600px;
    display: inline-block;
}

.selected{
    background-color: orange !important;
}

button{
    padding: 0px;
    border: 0px;
    display: block;
    width: 100%;
    background-color: #413F54;
}

.link{
    text-align: center;
    display: block;
    height: 40px;
    padding-top: 20px;
    
}

.small-link{
    font-size:x-small;
    text-align: center;
    display: block;
    font-style: italic;
}

a{
    font-family: Montserrat;
    font-weight: 200;
    text-decoration: none;
    color: #ebebeb;
}

p{
    font-family: Montserrat;
    font-weight: 200;
    text-decoration: none;
    color: #ebebeb;
}

.link:hover{
    background-color: #ebebeb;
    color: 30292F;
}

h3{
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    color: #ebebeb;
    margin: 5px;
}

h4{
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
    color: #ebebeb;
    margin: 5px;
}
