.left-sidebar{
    float: left;
    background-color: #3f4c54;
    width: 160px;
    display: inline-block;
    border-top-left-radius: 8px;
    height: 100vh;

}

.selected{
    background-color: #ebebeb;
    color: 30292F;
}

.link-top{
    border-top-left-radius: 8px;
}

.link-top:hover{
    border-top-left-radius: 8px;
}

.link:hover{
    background-color: #ebebeb;
    color: 30292F;
    
}

button{
    padding: 0px;
    border: 0px;
    display: block;
    width: 100%;
    background-color: #413F54;
}

.link{
    text-align: center;
    display: block;
    height: 40px;
    padding-top: 20px;
    
}

.small-link{
    font-size:x-small;
    text-align: center;
    display: block;
    padding: 10px;
}

hr{
    margin: 0px;
}


a{
    font-family: Montserrat;
    font-weight: 200;
    text-decoration: none;
    color: #ebebeb;
}

p{
    font-family: Montserrat;
    font-weight: 200;
    text-decoration: none;
    color: #ebebeb;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



h3{
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    color: #ebebeb;
    margin: 5px;
}

h4{
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
    color: #ebebeb;
    margin: 5px;
}
