/* 
    Color palette:
    #30292F < Black
    #413F54
    #5F5AA2
    #355691
    #3F4045 < dark grey
    
    #ebebeb < white

*/



body{
    margin: 80px;
    background-color: #30292F
}



h1{
    /* Title */
    text-align: left;
    padding-left: 50px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: Montserrat;
    font-weight: bold;
    width: 50%;
}

h2{
    /* Subtitle */
    text-align: left;
    padding-left: 60px;
    font-family: Montserrat;
    font-style: italic;
    color: rgb(196, 196, 196);
    font-size: small;
    width: 50%;
}

.portrait{
    float: right;
    width: 40%;
    max-width: 300px;
    margin: 50px;
    transform: translateY(-140px)
}

header{
    background-color: gray;
}

.logo{
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: right;
}

img{
    display: inline-block;
    align-self: center;
    width: 25%;
    
    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}



div{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


.image-block{
    background-color: rgb(111, 111, 111);
    /* width: 400px;
    height: 400px; */
    align-items: center;
}

.main{
    background-color: #5F5AA2;
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: top;
    height: 600px;
}

.no_radius{
    border-radius: 0px;
}


@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('woff2');
    font-style: italic;
    font-weight: 300 800;
}



