
<head>
    <link rel="stylesheet" href="../style/sidebar.css">
</head>

<!-- <a class="link" href="/index.html" >Home</a>
    <a class="link" href="/education.html" >Education</a> -->

<ul>
    <li><a href="/index.html" class="link">Home</a></li>
    <li><a href="/education.html" class="link">Education</a></li>
    <li><a href="/resume.html" class="link">Resume</a></li>
    <li><a href="/projects.html" class="link">Projects</a></li>
    <li><a href="/about_me.html" class="link">About Me</a></li>
</ul>
<hr>
<h3>Reach Out!</h3>

<ul>
    <li>
        <h4>Email</h4>
        <a loading="lazy" href="mailto:osmunaj@gmail.com" class="small-link">osmunaj@gmail.com</a>
    </li>
    <li>
        <h4>Linked in</h4>
        <a loading="lazy" href="https://www.linkedin.com/in/ari-osmun/"
            class="small-link">www.linkedin.com/in/ari-osmun</a>
    </li>
    <li>
        <h4>Cell Phone</h4>
        <p class="small-link">(720)520-2105</p>
    </li>
    <li>
        <h4>Github</h4>
        <a loading="lazy" href="https://github.com/osmunaj" class="small-link">github.com/osmunaj</a>
    </li>
    <script src="/scripts/update_sidebar.js"></script>
</ul>

   