
<head>
    <link rel="stylesheet" href="../style/sidebar.css">
    <script src="/scripts/script.js"></script>

</head>

<nav>
    <a href="/index.html" class="link link-top">Home</a>
    <a href="/education.html" class="link">Education</a>
    <a href="/involvement.html" class="link">Involvement</a>
    <a href="/projects.html" class="link">Projects</a>
    <a href="/resume.html" class="link">Resume</a>
    <a href="/about_me.html" class="link">About Me</a>
</nav>


<hr>
<h3>Reach Out</h3>

<ul>
    <li class="no_bullet_list">
        <h4>Email</h4>
        <a loading="lazy" href="mailto:osmunaj@gmail.com" class="small-link">osmunaj@gmail.com</a>
    </li>
    <li class="no_bullet_list">
        <h4>Linked in</h4>
        <a loading="lazy" href="https://www.linkedin.com/in/ari-osmun/"
            class="small-link">www.linkedin.com/<br>in/ari-osmun</a>
    </li>
    <!-- <li>
        <h4>Cell Phone</h4>
        <p class="small-link">(720)520-2105</p>
    </li> -->
    <li class="no_bullet_list">
        <h4>Github</h4>
        <a loading="lazy" href="https://github.com/osmunaj" class="small-link">github.com/osmunaj</a>
    </li>
</ul>


<footer>
    <h6>Last Push: 2/12/2025 11:04 AM</h6>
</footer>





   